<link href="assets/css/formstyle.css" rel="stylesheet" />
<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Courses <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="coursesview">View Courses</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">{{heading}} Course
              </a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN VALIDATION STATES-->
          <div class="portlet box purple">
            <div class="portlet-title">
              <h4><i class="icon-reorder"></i>Courses</h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="portlet-body form">
              <!-- BEGIN FORM-->
              <form id="frmcourse" action="/updcourse" class="form-horizontal" method="post" enctype="multipart/form-data" onSubmit="return Validate();">
              <input id="dataid" name="dataid" type="hidden" value="{{data._id}}" />
              {{!-- <input id="_id" name="_id" type="hidden" value="5fcd16d03b23b53c78d4ce44" /> --}}
              {{#if error}}
                  <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
              {{/if}}
              {{#if success}}
                  <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
              {{/if}}
                <div id="dvcourseName" class="control-group">
                  <label class="control-label">Course Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseName" name="courseName" type="text" class="span6 m-wrap vlditm" value="{{data.courseName}}" placeholder="Degree Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseSpecification" class="control-group">
                  <label class="control-label">Degree Specification<span class="required">*</span></label>
                  <div class="controls">
                    <select id="courseSpecification" name="courseSpecification" class="span6 m-wrap vlditm">
                      {{#each bsdata.categories as |item|}}  
                         <option value="{{item}}" {{#ifCond item '==' ../data.courseSpecification}} selected="selected" {{/ifCond}}>{{item}}</option>
                      {{/each}}  
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtype" class="control-group">
                  <label class="control-label">Degree Type<span class="required">*</span></label>
                  <div class="controls">
                    <select id="type" name="type" class="span6 m-wrap vlditm">
                      {{#each bsdata.types as |item|}}  
                         <option value="{{item}}" {{#ifCond item '==' ../data.type}} selected="selected" {{/ifCond}}>{{item}}</option>
                      {{/each}}
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmode" class="control-group">
                  <label class="control-label">Mode<span class="required">*</span></label>
                  <div class="controls">
                    <div class="span6">
                      <label class="radio">
                        <input id="mode" name="mode" type="radio" value="Online" {{#ifCond data.mode '==' "Online"}}checked{{/ifCond}} class="vlditm" /> Online
                      </label>
                      <label class="radio">
                        <input id="mode" name="mode" type="radio" value="Offline" {{#ifCond data.mode '==' "Offline"}}checked{{/ifCond}} class="vlditm"  /> Offline
                      </label> 
                    </div>
                    <span class="help-inline"></span>  
                  </div>
                </div>
                <div id="dvcourseLanguage" class="control-group">
                  <label class="control-label">Language<span class="required">*</span></label>
                  <div class="controls">
                    <select id="courseLanguage" name="courseLanguage" class="span6 m-wrap vlditm">
                      {{#each bsdata.languages as |item|}}  
                         <option value="{{item}}" {{#ifCond item '==' ../data.courseLanguage}} selected="selected" {{/ifCond}}>{{item}}</option>
                      {{/each}}
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseBreakDown" class="control-group">
                  <label class="control-label">Course Importance & Breakdown<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="courseBreakDown" name="courseBreakDown" class="span6 m-wrap vlditm" rows="5" placeholder="Course Importance & Breakdown">{{data.courseBreakDown}}</textarea> <span id="textCounter1" class="smptxt"></span>
                    <span class="help-inline"></span>
                  </div>
                </div>  
                {{#ifCond heading '==' "Add"}}
                <div id="dvfacultyName" class="control-group">
                  <label class="control-label">Faculty Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="facultyName" name="facultyName" type="text" class="span6 m-wrap vlditm" value="{{data.facultyName}}" placeholder="Faculty Name" />
                    <span class="help-inline fnm0"></span>
                  </div>
                </div>
                <div id="dvfacultyResume" class="control-group">
                  <label class="control-label">Faculty Resume</label>
                  <div class="controls">
                    <span class="span6">
                       <input id="facultyResume" name="facultyResume" type="file" class="default"  /> {{!--multiple--}}              
                    </span>
                    <span class="help-inline frs0"></span>
                  </div>
                </div>
                <div id="addFaculty" class="control-group">
                </div>
                {{else}}
                  {{#each data.facultyInformation as |item index|}}
                    <div class="row-fluid">
                      <div class="span6 ">
                        <div class="control-group">
                          <label class="control-label">Faculty Name:</label>
                          <div class="controls"> <span class="text bold">{{item.facultyName}}</span> </div>
                        </div>
                      </div>
                      <div class="span6 ">
                        <div class="control-group">
                          <label class="control-label">Faculty Resume:</label>
                          <div class="controls"> <a href="{{../siteurl}}/{{item.facultyResume}}"><img src="assets/images/{{lookup ../data.fileImages @index}}" /></a> </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                {{/ifCond}}              
                {{!-- <div id="dvfacultyName" class="control-group">
                  <label class="control-label">Faculty Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="facultyName" name="facultyName" type="text" class="span6 m-wrap vlditm" value="{{data.facultyName}}" placeholder="Faculty Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvfacultyResume" class="control-group">
                  <label class="control-label">Faculty Resume</label>
                  <div class="controls">
                    <span class="span6">
                      <input id="facultyResume" name="facultyResume" type="file" class="default" multiple />
                      {{#each data.facultyResume as |item index|}}  
                          <a href="uploads/{{item}}"><img src="assets/images/{{lookup ../data.fileImages @index}}" width="30" height="30" /></a>
                      {{/each}} 
                    </span>    
                    <span class="help-inline"></span>
                  </div>
                </div> --}}
                <div id="dvcourseOfferingInstitute" class="control-group">
                  <label class="control-label">Course Offering Institute<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseOfferingInstitute" name="courseOfferingInstitute" type="text" class="span6 m-wrap vlditm" value="{{data.courseOfferingInstitute}}" placeholder="Degree Offering Institute" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvinstituteWebAddress" class="control-group">
                  <label class="control-label">Institute Web Address<span class="required">*</span></label>
                  <div class="controls">
                    <input id="instituteWebAddress" name="instituteWebAddress" type="text" class="span6 m-wrap vlditm" value="{{data.instituteWebAddress}}" placeholder="Institute Web Address" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvinstituteDetails" class="control-group">
                  <label class="control-label">Institute Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="instituteDetails" name="instituteDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Institute Details">{{data.instituteDetails}}</textarea> <span id="textCounter2" class="smptxt"></span>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmedium" class="control-group">
                  <label class="control-label">Teaching Medium Institute<span class="required">*</span></label>
                  <div class="controls">
                    <input id="medium" name="medium" type="text" class="span6 m-wrap vlditm" value="{{data.medium}}" placeholder="Teaching Medium Institute" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmediumWebAddress" class="control-group">
                  <label class="control-label">Teaching Medium Institute Web Address<span class="required">*</span></label>
                  <div class="controls">
                    <input id="mediumWebAddress" name="mediumWebAddress" type="text" class="span6 m-wrap vlditm" value="{{data.mediumWebAddress}}" placeholder="Teaching Medium Institute Web Address" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmediumDetails" class="control-group">
                  <label class="control-label">Teaching Institute Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="mediumDetails" name="mediumDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Teaching Institute Details">{{data.mediumDetails}}</textarea> <span id="textCounter3" class="smptxt"></span>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseCountry" class="control-group">
                  <label class="control-label">Course Country<span class="required">*</span></label>
                  <div class="controls">
                    <select id="courseCountry" name="courseCountry" class="span6 m-wrap vlditm">
                      {{#each bsdata.countries as |item|}}  
                         <option value="{{item.[0]}}" {{#ifCond item '==' ../data.type}} selected="selected" {{/ifCond}}>{{item.[0]}}</option>
                      {{/each}}
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseCity" class="control-group">
                  <label class="control-label">Course City<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseCity" name="courseCity" type="text" class="span6 m-wrap vlditm" value="{{data.courseCity}}" placeholder="City" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvduration" class="control-group">
                  <label class="control-label">Duration<span class="required">*</span></label>
                  <div class="controls">
                    <input id="duration" name="duration" type="number" class="span6 m-wrap vlditm" value="{{data.duration}}" placeholder="Duration" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvdurationFor" class="control-group">
                  <label class="control-label">Duration For<span class="required">*</span></label>
                  <div class="controls">
                    <select id="durationFor" name="durationFor" class="span6 m-wrap vlditm">  
                         <option value="Weeks" {{#ifCond data.durationFor '==' "Weeks"}} selected="selected" {{/ifCond}}>Weeks</option>
                         <option value="Months" {{#ifCond data.durationFor '==' "Months"}} selected="selected" {{/ifCond}}>Months</option>
                         <option value="Years" {{#ifCond data.durationFor '==' "Years"}} selected="selected" {{/ifCond}}>Years</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvhoursPerWeek" class="control-group">
                  <label class="control-label">Hours Per Week<span class="required">*</span></label>
                  <div class="controls">
                    <input id="hoursPerWeek" name="hoursPerWeek" type="number" class="span6 m-wrap vlditm" value="{{data.hoursPerWeek}}" placeholder="Hours Per week" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtotalCost" class="control-group">
                  <label class="control-label">Total Cost<span class="required">*</span></label>
                  <div class="controls">
                    <input id="totalCost" name="totalCost" type="number" class="span6 m-wrap vlditm" value="{{data.totalCost}}" placeholder="Total Cost" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcurrency" class="control-group">
                  <label class="control-label">Currency<span class="required">*</span></label>
                  <div class="controls">
                    <select id="currency" name="currency" class="span6 m-wrap vlditm">  
                         <option value="$">$</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                {{!-- <div id="dvbreakDown" class="control-group">
                  <label class="control-label">Cost Breakdown<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="breakDown" name="breakDown" class="span6 m-wrap vlditm" rows="5" placeholder="Cost Breakdown">{{data.breakDown}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div> --}}
                <div id="dvfinancialAid" class="control-group">
                  <label class="control-label">Financial Aid<span class="required">*</span></label>
                  <div class="controls">
                    <div class="span6">
                      <label class="radio">
                        <input id="financialAid" name="financialAid" type="radio" value="Yes" {{#ifCond data.financialAid '==' "Yes"}}checked{{/ifCond}} class="vlditm" /> Yes
                      </label>
                      <label class="radio">
                        <input id="financialAid" name="financialAid" type="radio" value="No" {{#ifCond data.financialAid '==' "No"}}checked{{/ifCond}} class="vlditm"  /> No
                      </label> 
                    </div>
                    <span class="help-inline"></span>  
                  </div>
                </div>
                <div id="dvfinancialAidDetails" class="control-group">
                  <label class="control-label">Financial Aid Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="financialAidDetails" name="financialAidDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Financial Aid Details">{{data.financialAidDetails}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvstartingDate" class="control-group">
                  <label class="control-label">Starting Date<span class="required">*</span></label>
                  <div class="controls">
                    <input id="startingDate" name="startingDate" type="text" class="span6 m-wrap vlditm" value="{{data.startingDate}}" placeholder="Starting Date" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvendingDate" class="control-group">
                  <label class="control-label">Application Deadline<span class="required">*</span></label>
                  <div class="controls">
                    <input id="endingDate" name="endingDate" type="text" class="span6 m-wrap vlditm" value="{{data.endingDate}}" placeholder="Application Deadline" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvpart" class="control-group">
                  <label class="control-label">Is this course is a part of any other program/degree ?</label>
                  <div class="controls">
                    <select id="part" name="part" class="span6 m-wrap vlditm">  
                         <option value="No" {{#ifCond data.part '==' "No"}} selected="selected" {{/ifCond}}>No</option>
                         <option value="Yes" {{#ifCond data.part '==' "Yes"}} selected="selected" {{/ifCond}}>Yes</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="partinfo">
                  <div id="dvprogramSpecs" class="control-group">
                    <label class="control-label">Program Specification<span class="required">*</span></label>
                    <div class="controls">
                      <input id="programSpecs" name="programSpecs" type="text" class="span6 m-wrap vlditm" value="{{data.programSpecs}}" placeholder="Program Specification" />
                      <span class="help-inline"></span>
                    </div>
                  </div>
                  <div id="dvprogramName" class="control-group">
                    <label class="control-label">Program Name<span class="required">*</span></label>
                    <div class="controls">
                      <input id="programName" name="programName" type="text" class="span6 m-wrap vlditm" value="{{data.programName}}" placeholder="Program Name" />
                      <span class="help-inline"></span>
                    </div>
                  </div>
                  <div id="dvprogramType" class="control-group">
                    <label class="control-label">Program Type<span class="required">*</span></label>
                    <div class="controls">
                      <input id="programType" name="programType" type="text" class="span6 m-wrap vlditm" value="{{data.programType}}" placeholder="Program Type" />
                      <span class="help-inline"></span>
                    </div>
                  </div>
                </div>                
                <div id="dvstatus" class="control-group">
                  <label class="control-label">Status<span class="required">*</span></label>
                  <div class="controls">
                    <select id="status" name="status" class="span6 m-wrap vlditm">
                      <option value="0" {{#ifCond data.status '==' 0}} selected="selected" {{/ifCond}}>Approved</option>
                      <option value="1" {{#ifCond data.status '==' 1}} selected="selected" {{/ifCond}}>Suspended</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn purple">{{heading}}</button>
                  <button type="button" class="btn" onclick="window.location.href='admusers'">Back</button>
                </div>
              </form>
              <!-- END FORM--> 
            </div>
          </div>
          <!-- END VALIDATION STATES--> 
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>