<style>
  .form-horizontal .controls {
    margin-left: 320px;
  }
  .form-horizontal .control-label {
    width: 300px;
  }
  .form .form-actions {
    padding-left: 330px;
}
</style>
<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Courses <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="coursesview">View Courses</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">{{heading}} Course
              </a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN VALIDATION STATES-->
          <div class="portlet box purple">
            <div class="portlet-title">
              <h4><i class="icon-reorder"></i>Courses</h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="portlet-body form">
              <!-- BEGIN FORM-->
              <form id="frmdegree" action="/upddegree" class="form-horizontal" method="post" onSubmit="return Validate();">
              <input id="dataid" name="dataid" type="hidden" value="{{data._id}}" />
              {{!-- <input id="_id" name="_id" type="hidden" value="5fcd16d03b23b53c78d4ce44" /> --}}
              {{#if error}}
                  <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
              {{/if}}
              {{#if success}}
                  <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
              {{/if}}
                <div id="dvcourseName" class="control-group">
                  <label class="control-label">Degree Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseName" name="courseName" type="text" class="span6 m-wrap vlditm" value="{{data.courseName}}" placeholder="Degree Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseSpecification" class="control-group">
                  <label class="control-label">Degree Specification<span class="required">*</span></label>
                  <div class="controls">
                    <select id="courseSpecification" name="courseSpecification" class="span6 m-wrap vlditm">  
                         <option value="Certificate">Certificate</option>
                         <option value="Associate">Associate</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtype" class="control-group">
                  <label class="control-label">Select Degree Type<span class="required">*</span></label>
                  <div class="controls">
                    <select id="type" name="type" class="span6 m-wrap vlditm">  
                         <option value="Disciplinary">Disciplinary Course</option>
                         <option value="Interdisciplinary">Interdisciplinary Course</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvdegreeOverview" class="control-group">
                  <label class="control-label">Degree Importance/Overview<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="degreeOverview" name="degreeOverview" class="span6 m-wrap vlditm" rows="5" placeholder="Degree Importance/Overview">{{data.degreeOverview}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvdegreeContent" class="control-group">
                  <label class="control-label">Degree Content<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="degreeContent" name="degreeContent" class="span6 m-wrap vlditm" rows="5" placeholder="Degree Content">{{data.degreeContent}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtotalNumberCourses" class="control-group">
                  <label class="control-label">Total Number of Courses<span class="required">*</span></label>
                  <div class="controls">
                    <input id="totalNumberCourses" name="totalNumberCourses" type="number" class="span6 m-wrap vlditm" value="{{data.totalNumberCourses}}" placeholder="Total Number of Courses" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourse" class="control-group">
                  <label class="control-label">Course Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="course" name="course" type="text" class="span6 m-wrap vlditm" value="{{data.course}}" placeholder="Course Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtotalCourses" class="control-group">
                  <label class="control-label">Total Number of Online Courses<span class="required">*</span></label>
                  <div class="controls">
                    <input id="totalCourses" name="totalCourses" type="number" class="span6 m-wrap vlditm" value="{{data.totalCourses}}" placeholder="Total Number of Online Courses" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvonline" class="control-group">
                  <label class="control-label">Online Course Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="online" name="online" type="text" class="span6 m-wrap vlditm" value="{{data.online}}" placeholder="Online Course Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvofflinetotal" class="control-group">
                  <label class="control-label">Total Number of Offline Courses<span class="required">*</span></label>
                  <div class="controls">
                    <input id="offlinetotal" name="offlinetotal" type="number" class="span6 m-wrap vlditm" value="{{data.offlinetotal}}" placeholder="Total Number of Offline Courses" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvoffline" class="control-group">
                  <label class="control-label">Offline Course Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="offline" name="offline" type="text" class="span6 m-wrap vlditm" value="{{data.offline}}" placeholder="Offline Course Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvfacultyName" class="control-group">
                  <label class="control-label">Faculty Name<span class="required">*</span></label>
                  <div class="controls">
                    <input id="facultyName" name="facultyName" type="text" class="span6 m-wrap vlditm" value="{{data.facultyName}}" placeholder="Faculty Name" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvfacultyResume" class="control-group">
                  <label class="control-label">Faculty Resume<span class="required">*</span></label>
                  <div class="controls">
                    <input id="facultyResume" name="facultyResume" type="text" class="span6 m-wrap vlditm" value="{{data.facultyResume}}" placeholder="Faculty Resume" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseLanguage" class="control-group">
                  <label class="control-label">Language<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseLanguage" name="courseLanguage" type="text" class="span6 m-wrap vlditm" value="{{data.courseLanguage}}" placeholder="Language" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseCountry" class="control-group">
                  <label class="control-label">Course Country<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseCountry" name="courseCountry" type="text" class="span6 m-wrap vlditm" value="{{data.courseCountry}}" placeholder="Course Country" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseCity" class="control-group">
                  <label class="control-label">Course City<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseCity" name="courseCity" type="text" class="span6 m-wrap vlditm" value="{{data.courseCity}}" placeholder="City" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcompulsory" class="control-group">
                  <label class="control-label">List of Compulsory Subjects<span class="required">*</span></label>
                  <div class="controls">
                    <input id="compulsory" name="compulsory" type="text" class="span6 m-wrap vlditm" value="{{data.compulsory}}" placeholder="List of Compulsory Subjects" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvoptional" class="control-group">
                  <label class="control-label">List of Optional Subjects<span class="required">*</span></label>
                  <div class="controls">
                    <input id="optional" name="optional" type="text" class="span6 m-wrap vlditm" value="{{data.optional}}" placeholder="List of Optional Subjects" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcourseOfferingInstitute" class="control-group">
                  <label class="control-label">Degree Offering Institute<span class="required">*</span></label>
                  <div class="controls">
                    <input id="courseOfferingInstitute" name="courseOfferingInstitute" type="text" class="span6 m-wrap vlditm" value="{{data.courseOfferingInstitute}}" placeholder="Degree Offering Institute" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvinstituteWebAddress" class="control-group">
                  <label class="control-label">Institute Web Address<span class="required">*</span></label>
                  <div class="controls">
                    <input id="instituteWebAddress" name="instituteWebAddress" type="text" class="span6 m-wrap vlditm" value="{{data.instituteWebAddress}}" placeholder="Institute Web Address" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvinstituteDetails" class="control-group">
                  <label class="control-label">Institute Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="instituteDetails" name="instituteDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Institute Details">{{data.instituteDetails}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmedium" class="control-group">
                  <label class="control-label">Teaching Medium Institute<span class="required">*</span></label>
                  <div class="controls">
                    <input id="medium" name="medium" type="text" class="span6 m-wrap vlditm" value="{{data.medium}}" placeholder="Teaching Medium Institute" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmediumWebAddress" class="control-group">
                  <label class="control-label">Teaching Medium Institute Web Address<span class="required">*</span></label>
                  <div class="controls">
                    <input id="mediumWebAddress" name="mediumWebAddress" type="text" class="span6 m-wrap vlditm" value="{{data.mediumWebAddress}}" placeholder="Teaching Medium Institute Web Address" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvmediumDetails" class="control-group">
                  <label class="control-label">Teaching Institute Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="mediumDetails" name="mediumDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Teaching Institute Details">{{data.mediumDetails}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvduration" class="control-group">
                  <label class="control-label">Duration<span class="required">*</span></label>
                  <div class="controls">
                    <input id="duration" name="duration" type="number" class="span6 m-wrap vlditm" value="{{data.duration}}" placeholder="Duration" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvdurationFor" class="control-group">
                  <label class="control-label">Duration For<span class="required">*</span></label>
                  <div class="controls">
                    <select id="durationFor" name="durationFor" class="span6 m-wrap vlditm">  
                         <option value="Weeks">Weeks</option>
                         <option value="Months">Months</option>
                         <option value="Years">Years</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvhoursPerWeek" class="control-group">
                  <label class="control-label">Hours Per Week<span class="required">*</span></label>
                  <div class="controls">
                    <input id="hoursPerWeek" name="hoursPerWeek" type="number" class="span6 m-wrap vlditm" value="{{data.hoursPerWeek}}" placeholder="Hours Per week" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvtotalCost" class="control-group">
                  <label class="control-label">Total Cost<span class="required">*</span></label>
                  <div class="controls">
                    <input id="totalCost" name="totalCost" type="number" class="span6 m-wrap vlditm" value="{{data.totalCost}}" placeholder="Total Cost" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvcurrency" class="control-group">
                  <label class="control-label">Currency<span class="required">*</span></label>
                  <div class="controls">
                    <input id="currency" name="currency" type="text" class="span6 m-wrap vlditm" value="{{data.currency}}" placeholder="Currency" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvbreakDown" class="control-group">
                  <label class="control-label">Cost Breakdown<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="breakDown" name="breakDown" class="span6 m-wrap vlditm" rows="5" placeholder="Cost Breakdown">{{data.breakDown}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvfinancialAid" class="control-group">
                  <label class="control-label">Financial Aid<span class="required">*</span></label>
                  <div class="controls">
                    <input id="financialAid" name="financialAid" type="text" class="span6 m-wrap vlditm" value="{{data.financialAid}}" placeholder="Financial Aid" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvfinancialAidDetails" class="control-group">
                  <label class="control-label">Financial Aid Details<span class="required">*</span></label>
                  <div class="controls">
                    <textarea id="financialAidDetails" name="financialAidDetails" class="span6 m-wrap vlditm" rows="5" placeholder="Financial Aid Details">{{data.financialAidDetails}}</textarea>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvstartingDate" class="control-group">
                  <label class="control-label">Starting Date<span class="required">*</span></label>
                  <div class="controls">
                    <input id="startingDate" name="startingDate" type="text" class="span6 m-wrap vlditm" value="{{data.startingDate}}" placeholder="Starting Date" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div id="dvendingDate" class="control-group">
                  <label class="control-label">Application Deadline<span class="required">*</span></label>
                  <div class="controls">
                    <input id="endingDate" name="endingDate" type="text" class="span6 m-wrap vlditm" value="{{data.endingDate}}" placeholder="Application Deadline" />
                    <span class="help-inline"></span>
                  </div>
                </div>
                
                <div id="dvstatus" class="control-group">
                  <label class="control-label">Status<span class="required">*</span></label>
                  <div class="controls">
                    <select id="status" name="status" class="span6 m-wrap vlditm">
                      <option value="0" {{#ifCond data.status '==' 0}} selected="selected" {{/ifCond}}>Approved</option>
                      <option value="1" {{#ifCond data.status '==' 1}} selected="selected" {{/ifCond}}>Suspended</option>
                    </select>
                    <span class="help-inline"></span>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn purple">{{heading}}</button>
                  <button type="button" class="btn" onclick="window.location.href='admusers'">Back</button>
                </div>
              </form>
              <!-- END FORM--> 
            </div>
          </div>
          <!-- END VALIDATION STATES--> 
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>