<link href="assets/css/formstyle.css" rel="stylesheet" />
<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Degrees View <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="courses">View Degrees</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">View Degree Info</a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Degrees</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="portlet box blue">
                  <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Degree Info</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
                  </div>
                  <div class="portlet-body form">
                    {{#if error}}
                        <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
                    {{/if}}
                    {{#if success}}
                        <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
                    {{/if}}
                    <div class="alert alert-error hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="err_msg"></span> </div>
                    <div class="alert alert-success hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="suc_msg"></span> </div>
                    <!-- BEGIN FORM-->
                    <div class="form-horizontal form-view">
                      <div class="text-right"><a href="degreesedit?id={{data._id}}" class="btn purple" title="Edit"><i class="icon-edit"></i> Update</a></div>
                      <h3 class="form-section">Degree Info</h3>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Name:</label>
                            <div class="controls"> <span class="text bold">{{data.courseName}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Category:</label>
                            <div class="controls"> <span class="text bold">{{#if data.isDegree}}Degree{{else}}Course{{/if}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Type:</label>
                            <div class="controls"> <span class="text bold">{{data.type}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Specification:</label>
                            <div class="controls"> <span class="text bold">{{data.courseSpecification}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Overview:</label>
                            <div class="controls"> <span class="text bold">{{data.degreeOverview}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Content:</label>
                            <div class="controls"> <span class="text bold">{{data.degreeContent}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Total Number of Courses:</label>
                            <div class="controls"> <span class="text bold">{{data.totalNumberCourses}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Course Name:</label>
                            <div class="controls"> <span class="text bold">{{data.course}}</span> </div>
                          </div>
                        </div>
                      </div>
                       <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Total Number of Online Courses:</label>
                            <div class="controls"> <span class="text bold">{{data.totalCourses}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Online Course Name:</label>
                            <div class="controls"> <span class="text bold">{{data.online}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Total Number of Offline Courses:</label>
                            <div class="controls"> <span class="text bold">{{data.offline}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Offline Course Name:</label>
                            <div class="controls"> <span class="text bold">{{data.offlinetotal}}</span> </div>
                          </div>
                        </div>
                      </div>
                      {{!-- <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Faculty Name:</label>
                            <div class="controls"> <span class="text bold">{{data.facultyName}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Language:</label>
                            <div class="controls"> <span class="text bold">{{data.courseLanguage}}</span> </div>
                          </div>
                        </div>
                      </div> --}}
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Country:</label>
                            <div class="controls"> <span class="text bold">{{data.courseCountry}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">City:</label>
                            <div class="controls"> <span class="text bold">{{data.courseCity}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">List of Compulsory Subjects:</label>
                            <div class="controls"> <span class="text bold">{{data.compulsory}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">List of Optional Subjects:</label>
                            <div class="controls"> <span class="text bold">{{data.optional}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Degree Offering Institute:</label>
                            <div class="controls"> <span class="text bold">{{data.courseOfferingInstitute}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Institute Web Address:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteWebAddress}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Teaching Medium Institute:</label>
                            <div class="controls"> <span class="text bold">{{data.medium}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Teaching Medium Institute Web Address:</label>
                            <div class="controls"> <span class="text bold">{{data.mediumWebAddress}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Institute Details:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteDetails}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Teaching Institute Details:</label>
                            <div class="controls"> <span class="text bold">{{data.mediumDetails}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Duration:</label>
                            <div class="controls"> <span class="text bold">{{data.duration}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Duration For:</label>
                            <div class="controls"> <span class="text bold">{{data.durationFor}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Hours Per week:</label>
                            <div class="controls"> <span class="text bold">{{data.hoursPerWeek}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Total Cost:</label>
                            <div class="controls"> <span class="text bold">{{data.totalCost}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Currency:</label>
                            <div class="controls"> <span class="text bold">{{data.currency}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Cost Breakdown:</label>
                            <div class="controls"> <span class="text bold">{{data.breakDown}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Financial Aid:</label>
                            <div class="controls"> <span class="text bold">{{data.financialAid}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Financial Aid Details:</label>
                            <div class="controls"> <span class="text bold">{{data.financialAidDetails}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Starting Date:</label>
                            <div class="controls"> <span class="text bold">{{data.startingDate}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Application Deadline:</label>
                            <div class="controls"> <span class="text bold">{{data.endingDate}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Language:</label>
                            <div class="controls"> <span class="text bold">{{data.courseLanguage}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Course Status:</label>
                            <div class="controls"> <span id="thisstatus" class="text bold hand">{{#ifCond data.status '==' 0}}<a onclick="ChangeStatus('{{data._id}}', 0)"><span class="label label-success"><i class='fa fa-check' aria-hidden='true'></i> Approved</span></a>{{else}}<a onclick="ChangeStatus('{{data._id}}', 1)"><span class="label label-warning"><i class='fa fa-pause' aria-hidden='true'></i> Suspended</span></a>{{/ifCond}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created By:</label>
                            <div class="controls"> <span class="text bold"><a href="admusersview?id={{admcrt}}" target="_blank">{{data.createdby}}</a></span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created DateTime:</label>
                            <div class="controls"> <span class="text bold">{{data.creation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated By:</label>
                            <div class="controls"> <span class="text bold"><a href="admusersview?id={{admupd}}" target="_blank">{{data.updatedby}}</a></span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated DateTime:</label>
                            <div class="controls"> <span id="upddate" class="text bold">{{data.updation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      {{!-- <div class="row-fluid">
                        <div class="span12 ">
                          <div class="control-group">
                            <label class="control-label">Faculty Resume:</label><br />
                            {{#each data.facultyResume as |item index|}}  
                               <a href="uploads/{{item}}"><img src="assets/images/{{lookup ../data.fileImages @index}}" /></a>
                            {{/each}}                            
                          </div>
                        </div>
                      </div> --}}
                      {{#each data.facultyInformation as |item index|}}
                        <div class="row-fluid">
                          <div class="span6 ">
                            <div class="control-group">
                              <label class="control-label">Faculty Name:</label>
                              <div class="controls"> <span class="text bold">{{item.facultyName}}</span> </div>
                            </div>
                          </div>
                          <div class="span6 ">
                            <div class="control-group">
                              <label class="control-label">Faculty Resume:</label>
                              <div class="controls"> <a href="uploads/{{item.facultyResume}}"><img src="assets/images/{{lookup ../data.fileImages @index}}" /></a> </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                      <div class="form-actions">
                        <button type="button" class="btn" onclick="window.location.href='admusers'">Back</button>
                      </div>
                    </div>
                    <!-- END FORM--> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>