<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Institutes View <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="institutes">View Institutes</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">View Institute Info</a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Institute</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="portlet box blue">
                  <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Institute Info</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
                  </div>
                  <div class="portlet-body form">
                    {{#if error}}
                        <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
                    {{/if}}
                    {{#if success}}
                        <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
                    {{/if}}
                    <div class="alert alert-error hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="err_msg"></span> </div>
                    <div class="alert alert-success hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="suc_msg"></span> </div>
                    <!-- BEGIN FORM-->
                    <div class="form-horizontal form-view">
                      <div class="text-right"><a href="institutes" class="btn red-stripe">Institutes</a> &nbsp; <a href="institutesedit?id={{data._id}}" class="btn purple" title="Edit"><i class="icon-edit"></i> Update</a></div>
                      <h3 class="form-section">Institute Info</h3>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Name:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteName}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Type:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteType}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Mode:</label>
                            <div class="controls"> <span class="text bold">{{data.institutionMode}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Web Address:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteWebAddress}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Phone Number:</label>
                            <div class="controls"> <span class="text bold">{{data.institutePhoneNumber}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">WhatsApp Number:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteWhatsAppNumber}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Email:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteEmail}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Address:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteAddress}}</span> </div>
                          </div>
                        </div>
                      </div>
                       <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Image Set:</label>
                            <div class="controls"> <span class="text bold">{{data.imageSet}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Campuses:</label>
                            <div class="controls"> <span class="text bold">{{data.campuses}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Department:</label>
                            <div class="controls"> <span class="text bold">{{data.department}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Program:</label>
                            <div class="controls"> <span class="text bold">{{data.program}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Faculty:</label>
                            <div class="controls"> <span class="text bold">{{data.faculty}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Facilitation:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteFacilitation}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Mark Of Distinction:</label>
                            <div class="controls"> <span class="text bold">{{data.instituteMarkOfDistinction}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">User Status:</label>
                            <div class="controls"> <span id="thisstatus" class="text bold hand">{{#ifCond data.status '==' 0}}<a onclick="ChangeStatus('{{data._id}}', 0)"><span class="label label-success"><i class='fa fa-check' aria-hidden='true'></i> Approved</span></a>{{else}}<a onclick="ChangeStatus('{{data._id}}', 1)"><span class="label label-warning"><i class='fa fa-pause' aria-hidden='true'></i> Suspended</span></a>{{/ifCond}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created By:</label>
                            <div class="controls"> <span class="text bold">{{data.createdby}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created DateTime:</label>
                            <div class="controls"> <span id="crtdate" class="text bold">{{data.creation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated By:</label>
                            <div class="controls"> <span class="text bold">{{data.updatedby}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated DateTime:</label>
                            <div class="controls"> <span id="upddate" class="text bold">{{data.updation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="button" class="btn" onclick="window.location.href='admusers'">Back</button>
                      </div>
                    </div>
                    <!-- END FORM--> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>